[2020-06-01 12:18] rohank63 opened #3 "Integration among TEST PYPI and PYPI"
In the deployment code, It should go like this: If Publishing for Test PYPI fails then don't go for PYPI. Go for PYPI only if previous provider successes. However at the moment, both will run simultaneously.
[code]

[2020-06-01 12:20] #3 closed

[2020-06-08 23:01] rohank63 opened #6 "Infer read layout: Single vs Paired"
### Trying to infer single vs paired (or rather which file contains which mate):

First Things before to check for:
1. Do read IDs adhere to Illumina format as per the [Wikipedia FASTQ](https://en.wikipedia.org/wiki/FASTQ_format) format.

Following can be the possible cases while taking input from the User :

1. If user provides 1 file & @SEQ_IDs have /1 identifier tag:
Possible outcomes:
	- A sin

[2020-07-01 12:00] #6 closed

[2020-07-03 20:25] rohank63 opened #9 "Infer organism from fastQ sample: Selecting Genes"
The goal here is to identify which genes to pick, in order to map them across the fastQ reads which will determine the type of organism from the derived samples.

Selection of Genes are being done on the following factors:

- Genes which are universally conserved across some organisms.
- Genes that are highly expressed among organisms.
- Most abundant Ribosomal Proteins :
- One Ribosomal RNA
- One

[2020-07-03 20:33] rohank63 opened #10 "Infer Organism from FastQ Sample: Selecting Organisms"
To infer organisms form the fastQ samples, the top most over-represented organisms in [SRA](https://www.ncbi.nlm.nih.gov/sra) are being selected based on the following parameters:

- Fraction of samples per organism.

[2020-07-06 11:34] uniqueg commented on #10
Could you please post the numbers? We'd probably need a few more organisms like worms (Caenorhabditis elegans) and rats (Rattus norvegicus) and possibly some primates. But would be good to see the numbers for all organisms.

[2020-07-06 11:41] uniqueg commented on #9
Mihaela suggested to use a set of ribosomal proteins, perhaps a dozen. The more genes we have, the more confident our inference will be. Ribosomal proteins are generally highly conserved and are expressed at pretty high levels. So perhaps you could find out what are the most abundant ribosomal proteins in two or three organisms (human, mouse, yeast) and then we use those. Ribosomal RNAs we should

[2020-07-06 11:42] uniqueg commented on #9
So in other words: instead of one protein-coding gene, we will take 10 or 12 or so.

[2020-07-06 17:37] rohank63 commented on #9
#### Abundant Ribosomal Proteins :
### Saccharomyces cerevisiae

### Homo Sapiens

[2020-07-06 19:08] rohank63 commented on #10
### Organisms as per number of SRA Experiments -
### Primates:
[code]

### Rodent:
[code]

### Bacteria:
[code]

### Plant:
[code]

### Plasmodium:
[code]

### Fungi:
[code]

### Mixed:
[code]

### Anthropod:
[code]

### Nematode:
[code]

[2020-07-07 17:41] uniqueg commented on #10
Hi @rohank63, thanks a lot! Since the results seem to be a little less close to what we hoped, I have done the analysis a bit more rigorously. Here is what I did:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

As you see, there's still some manual filtering of unclassified and duplicate organisms to do. Without that filtering the results look this (only li

[2020-07-07 17:42] uniqueg commented on #10
Could you please do the manual filtering and also do it _with_ and _without_ selecting for the sequencing protocols (`RNA-Seq`, `RIP-Seq`, `miRNA-Seq`, `ncRNA-Seq`)?

For the latter, you just need to skip the corresponding filtering (`egrep`) command and adjust the input file name for the following step.

For the former, you need to
* remove all entries that include something in their organism nam

[2020-07-07 17:51] uniqueg commented on #9
Thanks - that's good! However, as we will need them for several organisms (probably >100, see #10), we need to find a more sustainable strategy. Basically, what we need is some conservation map including as many organisms as we can get. Please have a look

[2020-07-07 18:00] rohank63 commented on #10
Sure, I will do the manual filtering with and without and once done I will update you ,
I just wanna add that the numbers that I posted for SRA experiments, it included file-type: fastQ filter enabled, as we were dealing with the fastQ files so I just let that on, May be that's why the numbers appear low to you. But if will I remove all  filters and just post numbers as per as SRA experiments arch

[2020-07-07 18:05] uniqueg commented on #10
No no, your numbers weren't low. And it makes sense to keep that filter in.

[2020-07-07 18:13] uniqueg commented on #9
Probably the way to go here is to use [BioMart](https://m.ensembl.org/info/data/biomart/index.html). You will need to choose one of the options that give your programmatic access, e.g., the R/Bioconductor option or the RESTful API. With BioMart, you should be able to choose an organism and a gene (e.g., Saccharomyces cerevisiae -> RPS2) and then retrieve the names of the orthologs in _other_ speci

[2020-07-08 10:37] rohank63 commented on #9
Hi @uniqueg , I am using R/Bioconductor to  retrieve the names of the orthologs in other species. Let's say I am finding the orthologs for RPSA ribosomal protein gene of Human, while doing so I have a list of attributes, that I can use to display in the file.
#### Example: %id. target, %id. query, Gene-order conservation score, Whole-genome alignment coverage, confidence score.
[code]

Perhaps, yo

[2020-07-21 22:14] rohank63 commented on #10
After merging all the transcripts, running Kallisto and testing sample fastQ files.

[code]

[code]

[code]

[code]

[code]

[2020-10-01 07:48] mzavolan opened #11 "Extract a subset of random reads from a fastq file"
To speed up inferences about read architecture in a library, extract a subset of reads (default all). Should take as parameters the number or proportion of reads to be extracted and should take into account that the reads may or may not be sorted alphabetically.

[2020-10-01 07:51] mzavolan opened #12 "Randomize nucleotide sequences"
Given a set of input sequences, generate randomized variants using a markov process. The order of the markov chain to be considered is a parameter. More concretely, we want to generate shuffled variants of the initial sequences that are similar in some way, but are not constructed to contain specific adaptor/barcode motifs. The simplest way to generate such variant sequences is to *shuffle* (permu

[2020-10-01 07:53] mzavolan opened #13 "Count motifs in a set of sequences"
Given a set of sequences, calculate the number of occurrences of all motifs within a range of length that occur in the input sequences. Return the results as a dictionary.

[2020-10-01 07:55] mzavolan opened #14 "Calculate motif enrichment"
Given two dictionaries of motif counts (foreground and background), calculate the enrichment (ratio of the probabilities of occurrence of the motif in foreground and background) and p-value (assuming binomial sampling with average frequency taken from the background set) for all motifs in the foreground set. Return these as a dictionary.

[2020-10-01 07:58] mzavolan opened #15 "Compute histograms of inter-motif distances"
Given a set of motifs and a set of sequences, compute histograms of inter-motif distances for all pairs of motifs and return pairs for which there is a significantly preferred distance. That is, loop across all sequences and record the distance between that start positions of the two motifs in every sequence. Note the symmetry, namely that distances between motif1 and motif2 will be the negatives

[2020-10-01 08:00] mzavolan opened #16 "Align motifs"
Given a set of motif pairs with specified inter-motif distances, align them and generate clusters of motifs. Motif pairs that occur in reads at a preferred distance would be defined in a regular expression-like manner as [M1]+[N]*[M2]+, where [M1]+ indicates the bases of motif 1, [M2]+ indicates the bases of motif 2, and [N]* indicates that there can be spacers of unknown sequence in between. We w

[2020-10-01 11:06] mzavolan opened #17 "Extend motifs based on nucleotide representation in sequenced reads"
Given a set of core motifs, check whether they represent parts of longer motifs in sequenced reads. Extend left and right if the nucleotide composition in these positions is very biased. That is, starting from all occurrences of a core motif in the reads, determine the frequencies of A,C,G,T at the left- and right-flanking positions, and calculate the entropy of this distribution. Ideally, the mot

[2020-10-01 11:07] mzavolan opened #18 "Construct position-dependent frequency profiles"
Given a set of motifs and a set of sequences, construct a position-dependent frequency profile of occurrence of the motifs within reads. This can be done by scanning all the reads with a particular motif, looking for perfectly compatible matches. That is, if the motif occurs internally in the read, it should be found precisely, and if the motif occurs at the 3' or 5' end of the reads it should be

[2020-10-01 11:12] mzavolan opened #19 "Count occurrences of adaptors/contaminants"
Given a set of known adaptors/contaminants and an input fastq file, count the number of matches to potential adaptors/contaminants. Similar to issue #19, but instead of making position-dependent profiles, the number of matches and proportion of matched reads should be determined. Thus, the same inner function can be used for both to identify motif matches within a read. Then the number of motifs p

[2020-10-01 11:16] mzavolan opened #20 "Identify potential 'spacer' k-mers"
Given a set of reads, identify k-mers with very high occurrence at a specific position in the reads. 'Spacer' k-mers should occur in most sequences with a highly peaked position-dependent frequency. We could identify these cases by fitting a mixture of two uniform distributions to the positions of the motif in reads, expecting that one component of the mixture will have much narrower range than th

[2020-10-01 11:21] mzavolan opened #21 "Identify potential barcode k-mers"
Barcodes should consist of a small set of k-mers with the same length and a very similar position-dependent frequency of occurrence within reads. From the motif enrichment function we will get a list of strings that are considered significantly enriched among the reads. Another function will also implement computing the position-dependent frequency of occurrence of a k-mer in a set of input reads.

[2020-10-07 01:18] #9 closed, assigned to nobody

[2020-10-07 01:19] #10 closed, assigned to nobody

[2020-10-10 01:02] uniqueg commented on #11
Note that for scalability and the typical sizes of the files we will be dealing with, reading the entire file into memory is not a great/scalable solution. On the other hand, opening/closing the file repeatedly for every line/entry you want to pick will be _very_ slow. Try to come up with a solution that does _not_ load the file into memory and does _not_ open/close the file more than twice (it wi

[2020-10-10 09:37] uniqueg opened #23 "Call read orientation module from main app"
When building the package, an executable `htsinfer` is created, which will call the app's main entry point [`htsinfer/htsinfer.py`](https://github.com/zavolanlab/htsinfer/blob/dev/htsinfer/htsinfer.py), which coordinates calling the different inference functionalities (single/paired, read layout, read orientation).

Add the necessary code to the `htsinfer.py` module's `main()` function that will c

[2020-10-10 09:45] uniqueg opened #24 "Add optional CLI parameter for organism to main app"
In order to select the transcripts that the reads should be mapped to in later steps (see #26 and #27) of the read orientation inference process, the organism that the sample was derived from needs to be known. As we currently do not have a functionality to infer the organism from the data (it has been started and is almost ready, but has not been merged), we need to be able to pass that informati

[2020-10-10 10:01] uniqueg opened #25 "Extract RP transcripts for provided organism"
The repository contains a file with transcript sequences of highly expressed ribosomal proteins for hundreds of organisms (prepared for the purpose of inferring the organism from the data, a functionality which has not yet been merged). You can find it at  [`data/transcripts.fasta`](https://github.com/zavolanlab/htsinfer/blob/dev/data/transcripts.fasta). In order to map the reads against the trans

[2020-10-10 10:04] uniqueg opened #26 "Prepare transcript index for mapping"
In order to efficiently map reads to reference sequences, mapping programs require an index of the reference sequences (here: transcripts of genes coding for highly expressed ribosomal proteins, see #25 for more details).

Write a function that prepares an index of the subset of transcripts prepared in #25 with the [`STAR`](https://github.com/alexdobin/STAR) program. Accept the path to the transcr

[2020-10-10 10:04] uniqueg opened #27 "Map reads to RP transcripts"
Alignments to transcripts will relatively easily tell us the orientation in which RNA sequence fragments are read in a given library. Here, we will use the transcriptome index generated in #26 to map the reads selected from #11.

Write a function to implement the mapping. Use a [subprocess](https://docs.python.org/3/library/subprocess.html) to compute alignments with  [`STAR`](https://github.com/a

[2020-10-11 10:42] uniqueg opened #28 "Extract alignment configuration"
Mappers will align reads either in sense or antisense (i.e., reverse complement) configuration. The standard format for reporting read alignemnts, in human-readable form, is the [SAM format](https://samtools.github.io/hts-specs/SAMv1.pdf). Whether a read was mapped either to the sense or antisense strand of the template is visible from the FLAG field (see SAM specification, section 1.4), which is

[2020-10-11 11:01] uniqueg opened #29 "Decide read orientation"
Use the read alignment configuration counts (from #28) to decide whether the library is
* stranded, reads in forward configuration
* stranded, reads in reverse-complemented configuration
* unstranded

Write a function that takes as input the counts tuple from #28, implements the logic to decide the read orientation and returns a [Salmon `LIBTYPE` string](https://salmon.readthedocs.io/en/latest/lib

[2020-10-11 16:06] maritvanderdoes commented on #15
I would like to work on this project together with Camila Pulido

[2020-10-12 06:11] uniqueg commented on #15
Thanks @maritvanderdoes!

@dcpb0: Hi Camila, as long as you don't leave a comment in the issue, I can't assign you. A thumbs up is apparently not enough.

[2020-10-12 06:23] uniqueg opened #32 "Add missing unit tests for single/paired inference"
While tests in `tests/test_infer_single_paired.py` cover every line of code in the corresponding `htsinfer/infer_single_paired.py` module, they do not include unit tests for any function except the module's entry point `infer()`.

Add test cases to test each function/code unit independently.

[2020-10-12 06:27] uniqueg commented on #32
This issue is not related to implementing the read layout or orientation inference functionalities, but rather covers missing tests for a previously implemented functionality. While it has somewhat lower priority for the hackathon, it is a good exercise to learn how to write unit tests, in case we are running out of issues to cover.

[2020-10-12 06:33] uniqueg opened #33 "Create temporary directory"
Several functions that need to be added to implement the read orientation inference functionality will need to write temporary data to the disk. In order to keep things organized and allow cleaning up temporary data after we are done with the inference, a temporary directory should be created to keep all of the data that is written in subsequent steps.

Implement a function that accepts a director

[2020-10-12 07:36] uniqueg opened #34 "Add support for paired-end samples"
This is a meta issue used for planning support for paired-end samples. Once plans are finalized, individual issues will be created based off the bullet points in the following list:

**1. Prepare test files**
* Prepare small FASTQ files (5 entries) representing inward, outward and matching read orientation for unstranded and stranded (both with read 1 mapping to forward and reverse strands) librar

[2020-10-12 07:37] uniqueg commented on #34
Points 1., 2. and 3. are reasonably well defined already. If you would like to take up any of these issues, please let us know in the comments and we will write a detailed issue for it.

[2020-10-12 08:13] dcpb0 commented on #15
@uniqueg Hi Alex, thanks for letting us know. I would like to work on this issue with Marit van der Does.

[2020-10-12 11:55] mzavolan opened #35 "Find motif matches within a read"
For constructing the position-dependent profile of motif occurrences and counting the reads that match individual motifs (issues #18 and #19), we need a functionality of finding where a specific motif occurs within a read. We could do this by sliding the motif from left to right, starting from a minimum overlap between motif end and read start and ending at some minimum overlap between motif start

[2020-10-14 07:52] mischa-m commented on #12
Hi :) If possible, I would like to work on this issue.

[2020-10-14 08:04] uniqueg commented on #12
Sure, assigned you :)

[2020-10-14 08:10] stinea98 commented on #13
I would like to work on this issue :)

[2020-10-14 08:13] mzavolan commented on #13
Go ahead!

[2020-10-14 08:46] uniqueg commented on #29
Note that there may be ambiguity even for clearly stranded (forward or reverse) samples, because reads could be aligned to multiple genomic loci. So in order to decide we need to set some cutoff, let's say >90% or more from sense strand = `SF`, 40-60% = `U`, >90% from reverse strand = `SR`, and any value in between = `unsure`. We need to try out what typical values we get for some real samples, so

[2020-10-14 08:54] rockdeme commented on #25
Hey, I'd like to work on this with Daniel Batora.

[2020-10-14 08:56] danielbatora commented on #25
Hey, I'd like to take this issue.

[2020-10-14 08:57] uniqueg commented on #25
Sure, @rockdeme & @danielbatora

[2020-10-14 08:59] PaulRitsche commented on #14
Hi everybody,

if possible, I'd like to work on this issue.

[2020-10-14 09:00] uniqueg commented on #14
Thanks @PaulRitsche, assigned you

[2020-10-14 09:02] PaulRitsche commented on #14
Thanks!

[2020-10-14 09:03] uniqueg commented on #24
When you set an _optional_ CLI parameter, you will need to set some default (in case it is not provided). For now, a reasonable default could be `hsapiens`. Later on, once the organism inference functionality is in, we would probably set it to `None` so that it would be inferred by that functionality by default, and that inference would be skipped if the user provides an organism explicitly.

[2020-10-14 09:06] vildekveim commented on #16
I would like to work on this project with Nathalie Immerzeel

[2020-10-14 09:07] Nimmerzeel commented on #16
That's me! Just to repeat: I would like to work on this project with Vilde Kveim.

[2020-10-14 09:09] mzavolan commented on #16
Thanks, you're assigned!

[2020-10-14 09:09] uniqueg commented on #16
Thanks guys, @mzavolan assigned you

[2020-10-14 09:10] S1moFara commented on #26
Hi, I'd like to take this issue.

[2020-10-14 09:10] uniqueg commented on #26
@S1moFara thanks, assigning you

[2020-10-14 09:11] lukasheuberger commented on #13
I would join @stinea98 with this issue

[2020-10-14 09:12] mariapau189 commented on #18
Hello, I would like to work on this issue

[2020-10-14 09:12] uniqueg commented on #13
Sure, added you @lukasheuberger, thanks!

[2020-10-14 09:14] uniqueg commented on #18
Thanks @mariapau189, assigning you

[2020-10-14 09:14] ThomasMortelmans commented on #12
Hi, if possible, I would also like to work on this issue

[2020-10-14 09:17] HiyanZhang commented on #19
I would like to work in this issue if it is possible.

[2020-10-14 09:24] ymoon06 commented on #35
I would like to work with this issue

[2020-10-14 09:25] uniqueg commented on #35
Thanks @ymoon06, assigned you

[2020-10-14 09:27] Anunnaki1000 commented on #20
Hi, I would like to work on this issue

[2020-10-14 09:28] mzavolan commented on #20
Great, go ahead!

[2020-10-14 09:30] hossal commented on #28
I would like to solve this issue (Salome Hosch)

[2020-10-14 09:31] mzavolan commented on #28
Go ahead!

[2020-10-14 09:32] uniqueg commented on #19
Thanks @HiyanZhang, assigned you

[2020-10-14 09:42] ClkElf commented on #21
Hello, I would like to work on this issue, if it is possible.
Best,
Elifnaz Celik

[2020-10-14 09:44] mzavolan commented on #21
Thanks, go ahead!

[2020-10-14 09:50] Dhryata commented on #13
I would like to work on this as well, if possible

[2020-10-14 09:52] danielbatora commented on #25
This is the code that generated the error :

[code]

[2020-10-14 09:58] buffalo0124 commented on #21
Hello, I would like to work on this issue with Elifnaz
Ji Hoon

[2020-10-14 09:59] mzavolan commented on #21
Go ahead, and please try to talk with each other.

[2020-10-14 09:59] ClkElf commented on #21
It is okay with me, we can work together!

[2020-10-14 10:06] Dhryata commented on #35
I would like to join in on this issue

[2020-10-14 10:08] mzavolan commented on #35
OK, assigned, please talk to each other

[2020-10-14 13:54] mischa-m commented on #12
Thomas and I wrote an outline and docstrings of the functions that we are trying to implement (below). It would be great if you could have a quick look and see if we are heading in the right direction. We thought that it might be a good idea to split up the main function into two separate functions, also to make it easier for us to work on the problem:

1. Read the input sequence and use it to gen

[2020-10-14 14:27] yeastethanol commented on #33
Hi. I would like to work on this issue.

[2020-10-14 14:48] mzavolan commented on #12
Perfect idea to split the functionality in the two parts that you identified! However, the input will be a set of sequences, not just one, and the matrix should be constructed from all (looping though all input sequences). The issue of non-ACGT characters is a good one, because we do get ambiguous base calls in these files. Rather than quitting the program though, I would handle these characters m

[2020-10-14 17:36] uniqueg commented on #33
Sure, thanks @yeastethanol

[2020-10-15 12:50] HiyanZhang commented on #19
For this issue, it wrote "Given a set of known adaptors/contaminants and an input fastq file, count the number of matches to potential adaptors/contaminants." May I ask how/where should I get those set of  known adaptors/contaminants?
Thanks!

[2020-10-15 12:53] mzavolan commented on #19
They will be inferred with code resulting from the implementation of other issues in the project.

[2020-10-15 13:15] HiyanZhang commented on #19
Got it, thanks a lot.

[2020-10-17 10:10] stinea98 commented on #13
**This would be our suggestion for a docstring:**

def count_motifs(input_sequences: list, min_motif_length: int, max_motif_length: int) -> dict
""" Function that calculates the occurrence of all possible motifs in one or multiple sequences and
    returns a dictionary with all motifs within the specified length and their occurrence

Args:
    input_sequences (list): list of sequences
    min_moti

[2020-10-17 11:59] mzavolan commented on #13
Hi Stine

The docstring looks good. Regarding the implementation, imagine what would happen if you got b = 20. You will have a much smaller number of motifs actually represented in the sequences than those that are possible for a given length. I would rather count the motifs that DO OCCUR in the sequences themselves. Another comment about non-[ACGT] characters, you may not want the program to quit

[2020-10-19 13:23] PaulRitsche commented on #14
@uniqueg
Am I correct to assume that the motif counts in the two dictionaries are strings (of a given length, the foreground dictionary is "given", the background dictionary is a random sample of the whole data set and the returned dictionary must contain the motifs of the foreground set as keys and their respective enrichment and p-values as values?
I don't have a biology background, excuse my ba

[2020-10-19 13:28] mzavolan commented on #14
Motifs are strings, the dictionaries have motifs as keys and counts as values. The dictionaries of motif counts in foreground and background are input parameters to the function and your assumption about the return value is correct.

[2020-10-20 17:26] ymoon06 commented on #35
Dear Dhryata, can you send me whatsapp number again? By the time you gave number to me, the host finished the zoom, so I couldnt see your number properly. I tried several things but it seems not the case. Sorry about this.

[2020-10-20 21:55] uniqueg commented on #25
@danielbatora: unfortunately I couldn't reproduce the error. However, the file obviously has some issues. Most of the times it has Unix-style line breaks, but sometimes Windows-style line breaks. And there's a really weird block of characters (looks like binary content) starting in line 166572. I have to get back to the person who created this file, but for now I have removed the "binary" characte

[2020-10-20 22:29] #23 closed, assigned to uniqueg

[2020-10-20 22:53] #24 closed, assigned to uniqueg

[2020-10-21 05:40] Dhryata commented on #35
Hi! @ymoon06 it is +91 9619303703. See you in class :)

[2020-10-21 08:08] nevilJg commented on #27
Hi there let me try this one, I think I will need some help and time (because I am currently also doing Blockkurse) but im happy to learn new things.
~Nevil

[2020-10-21 08:13] uniqueg commented on #27
Sure, thanks - assigned you. You can discuss with @S1moFara who is taking care of #26, which will be almost exactly the same (almost same code, but a different call to STAR).

[2020-10-21 08:31] danielbatora commented on #25
@uniqueg I pushed the pilot function to the fork repo. As of now, the function accepts SeqRecord objects, so it does not run into error with the corrupted file. When reading and cleaning the file happened inside the function (in that case the function acceps a path to the FASTA file as an argument, the error did not let the function to return. Other than that, which file type should I use when cre

[2020-10-21 08:51] uniqueg commented on #25
Thanks @danielbatora: can you try with the updated file? I think it's best if the function takes and returns a FASTA file path, otherwise we would need an extra function to read it and just outsource the problem :)

[2020-10-21 08:53] danielbatora commented on #25
@uniqueg Okay, should the output file be a FASTA as well, or pickle ?

[2020-10-21 08:55] uniqueg commented on #25
Yup, FASTA. The STAR alignment program used in #26 and #27 is not a Python package and thus cannot deal with a SeqRecord object or a Pickle file.

[2020-10-21 08:57] danielbatora commented on #25
Okay, Done ! Should the temporary directory created in another issue be an argument of this function ? I do not understand it completely.

[2020-10-21 09:00] PaulRitsche commented on #14
Thanks for the help!
One further question: Are the two dictionaries inputted as files or in a variable?

[2020-10-21 09:09] uniqueg commented on #25
Yes, good point, the temporary directory needs to be passed as an argument (e.g., `tmp_dir`). I will implement the code to create the temp directory, you can add the parameter to the function signature (remember to add a type hint and a description in the docstring) and then create your output file as something like:

[code]

(untested)

[2020-10-21 09:44] uniqueg commented on #25
As discussed in the chat:

[code]

When merging all conditions into a single `if` this would become something like:

[code]

Note that this last solution, while having a relatively hard to read conditional section (which is why I added comments), avoids code duplication, which is always a source of error (note that the `data.update({str(organism) + "_" + str(counter) : str(record.seq)})` call with

[2020-10-21 10:16] uniqueg commented on #25
Hi @danielbatora & @rockdeme , actually forgot to insist on unit tests for the function. But seeing that the file `tests/test_infer_read_orientation.py` where these tests should go is still empty and that it's rather hard to start on an empty file, and there are currently only unit tests for the wrapper function `infer()` in `tests/test_infer_single_paired.py` either, but not tests for each indivi

[2020-10-21 11:43] danielbatora commented on #25
Hi @uniqueg , are we having one more hackaton lecture? In that case, we could do the unit tests or start a new issue (if there is any that noone is assigned to ). What do you suggest ?

[2020-10-21 11:49] uniqueg commented on #25
Yes, we will have one more, so feel free to do it then. I will see that I'll add some more examples for the `htsinfer/infer_single_paired.py` module until then. I'd prefer to keep the code and corresponding tests in one PR

[2020-10-26 15:40] yeastethanol commented on #33
Hi @uniqueg, can you please check if my code works?
Here is the link: https://github.com/yeastethanol/htsinfer/blob/issue33_modifiy/htsinfer/infer_read_orientation.py

[2020-10-28 09:20] uniqueg commented on #33
@yeastethanol Sorry for the late reply. It looks quite alright, but there are a few comments I have. It's easier to do that if there's an open PR (because I can comment any given line), so please open one and I'll get back to you.

[2020-10-28 10:20] stinea98 commented on #17
If possible, I would like to work on this issue as part of the individual project!

[2020-10-28 10:27] PaulRitsche commented on #14
Hi everybody,

i don't think that I'll be able to finish the assignment today. However, if it's fine by you, I'd like to keep working on it and finish it.
Is there a specific way that you have in mind to calculate the p-value for the motif?

[2020-10-28 10:31] mzavolan commented on #14
Sure, go ahead! For the p-value, use the binomial distribution, as described.

[2020-10-28 10:32] mzavolan commented on #17
It's fine, in principle, but let's make a plan for the whole independent project then.

[2020-10-28 10:34] PaulRitsche commented on #14
Thanks!

[2020-10-28 11:00] mariapau189 commented on #18
Hi! This is what I have so far, I still have to implement reading the different motifs from a file...and then the histogram. My idea is to print each sequence ID along with the positions where the motif is found. Each motif would output one position file. Then I would calculate the frequency of each position.

The following is printing only the the sequence IDs, without the positions, and I'm stuc

[2020-11-03 20:34] maritvanderdoes commented on #15
Hello. We have finished the code, and uploaded it to the master branch in the copied repository on camila's github (dcpb0). Then we created the pull request. However, we are not sure if it worked out.  Please let us know when its not working.

[2020-11-03 21:45] PaulRitsche commented on #14
Hi everybody,

**Here's the signature of my function for you to take a look at:**

Calculates enrichment and p-values of motifs with similar lengths.
Args: foreground: dictionary of motifs with counts
background: dictionary of motifs with counts
Returns: Dictionary including motifs, enrichment score and p-value.
Example:
foreground = {"UGAUUC": 5, "UAAACC": 3, "AAGUUACCU": 1, "AAGCCUU": 1, "AGUUCU

[2020-11-03 22:02] mzavolan commented on #14
The plan looks good, though the enrichment/p-values in the example don't look right to me.

[2020-11-04 07:11] PaulRitsche commented on #14
Maybe I calculated them wrong. Here are the formulas I used:
probability of occurrence = sum of motifs with similar length / sum of motif counts
enrichment (of motifs with same length) = probability of occurrence foreground / probability of occurrence background
p-value = binom.pmf(r = motif count, n = len(forward dictionary), p = average of occurrence probability of motifs in background dictionar

[2020-11-04 08:38] mzavolan commented on #14
You would need to calculate the probability of observing at least as many occurrences as you see in the foreground given the frequency in the background. So you would need to calculate the cumulative density function (1-binom.cdf(r, n, p)).

[2020-11-04 10:54] stinea98 commented on #17
**This would be my proposal:**

**Input:** list of core motifs & list of reads
**Output:** list of extended motifs

1) find core motif in every read (record start and end position)
2) determine the frequencies of nucleotides at the left- and right-flanking positions, compute the percentage of each nucleotide at the positions
and the calculate the entropy at each position
—> is the following formul

[2020-11-04 11:03] PaulRitsche commented on #14
All right, I'll replace the p-value calculation with the cumulative density function, run the test and file a pull request.

[2020-11-10 10:17] mzavolan commented on #17
The proposal is almost on the mark. The formula for the entropy is correct (base of the logarithm is usually 2 though, to express the entropy in bits). However, we will be extending if the entropy is **less** than some cutoff value, because we are looking for exact nucleotide matches. That means, if we have one specific flanking nucleotide flaking the core motif, the entropy will be 0 and will ext

[2020-11-10 12:53] stinea98 commented on #17
ok great, thanks for the clarifications! 👍

[2020-11-11 02:02] #33 closed, assigned to yeastethanol

[2020-11-11 06:42] #25 closed, assigned to danielbatora, rockdeme

[2020-11-11 06:50] uniqueg commented on #20
Unassigned. See https://github.com/zavolanlab/htsinfer/pull/46

[2020-12-29 08:50] #35 closed, assigned to ymoon06, Dhryata

[2020-12-29 10:02] uniqueg commented on #16
No PR was filed and it does not look like any code was added to any of the two forks.

[2020-12-29 10:08] #11 closed, assigned to mzavolan

[2021-02-10 15:47] rohank63 opened #56 "Improve library source inference"
- Consistently update set of reference transcripts for library source inference and include more genes for better accuracy
- Include organisms/sources from all clades in Ensembl: Bacteria, Plants, Fungi, Metazoa etc.

[2021-02-12 21:50] rohank63 opened #57 "Logic for confidence of infer_organism"
Accepting two new parameters from user, otherwise default:

- Min-Match % : minimum match percentage that top organism needs to have among all.

- Factor :  by how much factor top organism first organism is greater than the second.

If both conditions meet, then we do have a organism with confidence else we are not sure.
Still, if user needs to view the whole count percentage info data for all org

[2021-02-12 22:00] rohank63 opened #58 "Adapter count"
Searching all truncated adapters (length : 15) for n number of reads.
For now implementing **KMP/Aho-Corasick** algorithms for better time constraints.

[2021-03-01 19:56] rohank63 opened #61 "Handle mates"
Check:
- Whether searching for adapters in second mates is the same as in first mates
- Whether they are possible reversed/complemented

We can probably only properly check that once #73 is merged.

[2021-03-01 20:05] rohank63 opened #62 "Results object as Pydantic model Class"
The results object (currently a simple dictionary) should probably be a model class in order to allow proper validation. This can be done with the Pydantic package, which makes use of Python's type hinting system to define model classes with very little overhead. This makes the code much safer and will also make it easier to document/understand the code as it is getting more complex

[2021-03-08 09:49] #57 closed, assigned to nobody

[2021-03-08 09:50] #58 closed, assigned to nobody

[2021-03-08 10:13] rohank63 opened #65 "Modify Final Output"
For now, We are keeping the ouput as strings for infer_organism and infer_adapter just like infer_single_paired:
### infer_organism.py

### infer_adapter.py

We can later make use of Pydantic package to change the final output, once the other functionalities are done.

[2021-03-16 15:21] rohank63 opened #67 "Handle multimappers correctly"
A given read can map to multiple locations. It is important, however, that every read is counted only once. Also, the resulting alignments may sometimes be to the sense and other times to the antisense strand.
So to make sure these constraints are considered, it is necessary to collapse the outcomes of all the alignments of a given read into one outcome. Say, read 12345 aligns to 5 different locat

[2021-03-24 08:39] uniqueg opened #68 "Passing more than two input files to the CLI prints the stack trace"
**Describe the bug**
Passing no input file to the CLI prints the usage but no strack trace. Inconsistent with this standard behavior, passing _more_ than two input files raises an uncaught `ValueError` including the stack trace.

**To Reproduce**
Install HTSinfer as described, then run, e.g.,:

[code]

**Expected behavior**
Instead of the stack trace, the following error message should be printed

[2022-03-14 00:28] uniqueg commented on #21
Closing this for now as we chose to implement a brute force algorithm for 3' adapter extraction for the meantime.

[2022-03-14 00:28] #21 closed, assigned to nobody

[2022-03-14 00:28] uniqueg commented on #20
Closing this for now as we chose to implement a brute force algorithm for 3' adapter extraction for the meantime.

[2022-03-14 00:28] #20 closed, assigned to nobody

[2022-03-14 00:29] uniqueg commented on #19
Closing this for now as we chose to implement a brute force algorithm for 3' adapter extraction for the meantime.

[2022-03-14 00:29] #19 closed, assigned to nobody

[2022-03-14 00:29] uniqueg commented on #18
Closing this for now as we chose to implement a brute force algorithm for 3' adapter extraction for the meantime.

[2022-03-14 00:29] #18 closed, assigned to nobody

[2022-03-14 00:29] uniqueg commented on #17
Closing this for now as we chose to implement a brute force algorithm for 3' adapter extraction for the meantime.

[2022-03-14 00:29] #17 closed, assigned to nobody

[2022-03-14 00:29] uniqueg commented on #16
Closing this for now as we chose to implement a brute force algorithm for 3' adapter extraction for the meantime.

[2022-03-14 00:29] #16 closed, assigned to nobody

[2022-03-14 00:29] uniqueg commented on #15
Closing this for now as we chose to implement a brute force algorithm for 3' adapter extraction for the meantime.

[2022-03-14 00:29] #15 closed, assigned to nobody

[2022-03-14 00:29] uniqueg commented on #14
Closing this for now as we chose to implement a brute force algorithm for 3' adapter extraction for the meantime.

[2022-03-14 00:29] #14 closed, assigned to nobody

[2022-03-14 00:29] uniqueg commented on #13
Closing this for now as we chose to implement a brute force algorithm for 3' adapter extraction for the meantime.

[2022-03-14 00:29] #13 closed, assigned to nobody

[2022-03-14 00:29] uniqueg commented on #12
Closing this for now as we chose to implement a brute force algorithm for 3' adapter extraction for the meantime.

[2022-03-14 00:29] #12 closed, assigned to nobody

[2022-03-14 00:32] uniqueg commented on #62
Closing as this is already being implemented like that.

[2022-03-14 00:32] #62 closed, assigned to nobody

[2022-03-14 00:33] uniqueg commented on #65
Closing as this is already being implemented like that.

[2022-03-14 00:33] #65 closed, assigned to nobody

[2022-03-14 00:38] uniqueg commented on #68
Implemented.

[2022-03-14 00:38] #68 closed, assigned to nobody

[2022-03-14 00:44] uniqueg commented on #32
Done.

[2022-03-14 00:44] #32 closed, assigned to nobody

[2022-03-14 00:48] uniqueg commented on #26
Currently being implemented in #73. Closing for better overview.

[2022-03-14 00:48] #26 closed, assigned to nobody

[2022-03-14 00:48] uniqueg commented on #27
Currently being implemented in #73. Closing for better overview.

[2022-03-14 00:48] #27 closed, assigned to nobody

[2022-03-14 00:49] uniqueg commented on #28
Currently being implemented in #73. Closing for better overview.

[2022-03-14 00:49] #28 closed, assigned to nobody

[2022-03-14 00:49] uniqueg commented on #29
Currently being implemented in #73. Closing for better overview.

[2022-03-14 00:49] #29 closed, assigned to nobody

[2022-03-14 00:49] uniqueg commented on #34
Currently being implemented in #73. Closing for better overview.

[2022-03-14 00:49] #34 closed, assigned to nobody

[2022-03-14 00:52] uniqueg commented on #67
Implement with or after #73.

[2022-03-14 00:53] uniqueg commented on #56
Handle with or after #72.

[2022-03-21 22:08] AngryMaciek opened #74 "ci: move to GitHub Actions"
I'd like to contribute the the HTSInfer repo too.

I see you are still running on _Travis_, I could transfer the CI to _GH Actions_. I like setting up CIs, I do this for fun :)

Would you like that @uniqueg?

[2022-03-23 10:53] uniqueg commented on #74
Absolutely - thanks a lot

[2022-05-05 07:36] #74 closed, assigned to AngryMaciek

[2022-05-17 04:24] #67 closed, assigned to nobody

[2022-05-17 04:53] uniqueg commented on #61
Adapters are already searched across both mates. Adapters should _not_ be reverse complemented in alignments.

[2022-05-17 04:53] #61 closed, assigned to nobody

[2022-05-19 13:00] uniqueg opened #82 "Implement unit tests for library source inference"
**Is your feature request related to a problem? Please describe.**

Currently, comprehensive unit tests are missing for module [`htsinfer.get_library_source`](https://github.com/zavolanlab/htsinfer/blob/dev/htsinfer/get_library_source.py).

**Describe the solution you'd like**

Implement unit tests for the indicated module. The goal is not only to achieve 100% test coverage, i.e., run each line of

[2022-05-19 13:05] uniqueg opened #83 "Implement unit tests for read orientation inference"
**Is your feature request related to a problem? Please describe.**

Currently, comprehensive unit tests are missing for module [`htsinfer.get_read_orientation`](https://github.com/zavolanlab/htsinfer/blob/dev/htsinfer/get_read_orientation.py).

**Describe the solution you'd like**

Implement unit tests for the indicated module. The goal is not only to achieve 100% test coverage, i.e., run each lin

[2022-05-19 13:46] uniqueg opened #84 "Refactor argument passing to class instances"
**Is your feature request related to a problem? Please describe.**

Currently, arguments are passed to class constructors individually. This has several disadvantages:

- Arguments need to be described in multiple locations (e.g., CLI interface, `HtsIinfer` class, classes for each inference functionality)
- Adding new arguments to classes requires code changes in multiple modules
- Constructor int

[2022-05-20 11:26] uniqueg opened #85 "Infer library type if sequence identifiers do not contain mate info"
**Is your feature request related to a problem? Please describe.**

When depositing FASTQ files to the [Sequence Read Archive (SRA)](https://www.ncbi.nlm.nih.gov/sra), the original sequence identifiers are not preserved. In the sequence identifiers generated by the SRA, mate information is not retained. Therefore, the current regex-based inference of the library type (single vs paired) does not wo

[2022-05-20 11:38] uniqueg opened #86 "Infer presence of polyA tails in reads"
**Is your feature request related to a problem? Please describe.**
TBA

**Describe the solution you'd like**
TBA

**Describe alternatives you've considered**
TBA

**Additional context**
TBA

[2022-05-22 20:59] uniqueg opened #87 "Support additional source naming schemes"
**Is your feature request related to a problem? Please describe.**

Currently short names and taxon identifiers are used to refer to library sources (e.g., `hsapiens` and `9606`, respectively). However, some downstream applications (e.g., [ZARP](https://github.com/zavolanlab/zarp)) use other naming schemes, such as `home_sapiens`.

**Describe the solution you'd like**

See if additional library so

[2022-07-05 09:03] uniqueg opened #89 "Infer read layout generically"
**Is your feature request related to a problem? Please describe.**

Currently, only 3' adapters are inferred and these are identified via scanning for the presence of a list of known adapters. Devise and implement a solution that generically infers complex read layout patterns, including 5' adapters, UMIs and other linkers, other fixed length/sequence adapters etc.

**Describe the solution you'd l

[2022-09-29 12:09] BorisYourich opened #93 "pytest issue on macOS Big Sur"
**Describe the bug**
Os-dependent issue when testing the installation of development/testing dependencies.
Error is: `htsinfer.exceptions.StarProblem: Failed to create STAR index`
If solved then: `htsinfer.exceptions.StarProblem: Failed to generate STAR alignments`

**To Reproduce**
Steps to reproduce the behavior:

1. Use computer with macOS Big Sur and Miniconda(4.12.0) installation.
2. Follow t

[2022-09-29 15:46] uniqueg commented on #93
Thanks @BorisYourich - would be happy to accept a PR for that :)

[2022-10-06 13:37] uniqueg commented on #82
Resolved by #90

[2022-10-06 13:37] #82 closed, assigned to nobody

[2022-10-12 17:21] rohank63 opened #94 "Handling exceptions to reduce duplicated code"
[code]

I have recently found a way to write a generic exception raiser class. You can just pass it the exception that you want to raise. Reduces some duplicate code. Check here: https://github.com/zavolanlab/zarp-cli/blob/4b93643b8650656b18b9301e91413469bff23e6f/tests/utils.py#L6-L17

Maybe you want to add that and replace the usage of `RaiseFileProblem`, `RaiseMetadataWarning`, `RaiseOSError` an

[2022-10-12 18:53] rohank63 commented on #93
I just want to add, I was also having the same issue, as I have big sure too, but later it got fixed by installing STAR through the official github repo and then make STAR.

[2022-10-12 23:44] uniqueg commented on #93
So is this an issue of the STAR version for Mac on Conda? Perhaps we could just try to bump STAR in the requirements, then. Latest version on Anaconda seems to be `2.7.10a`: https://anaconda.org/search?q=star

[2022-10-12 23:46] #83 closed, assigned to rohank63

[2022-10-21 11:42] BorisYourich commented on #86
I was thinking about writing a utility(possibly in C++) that would parse the bam file and check for alignments with high number of mismatches from both ends (up to a given number of nucleotides N) and if the aligned read contains high percentage of adenine(A%)  then it would be qualified as containing a polyA tail and the alignment possibly pasted into a separate polyA_reads.bam file and in the ht

[2022-10-21 17:45] uniqueg commented on #86
For context: The use case that motivates this feature is that people running RNA-seq pipelines want to know if they should include a step to remove polyA tails prior to mapping. So what they would need is a kind of `True` / `False` answer.

Now, a library that would benefit from such processing is one that (a) has been prepared with a protocol that preserves and (b) has a sizeable (whatever that m

[2022-10-31 23:48] #84 closed, assigned to BorisYourich

[2022-10-31 23:48] #93 closed, assigned to nobody

[2022-11-01 12:33] rohank63 commented on #89
Can we add a exhaustive list for the 3' adapters ?
Regarding the 5' adapters , just a question ( may be it doesn't make sense, as not much background in Bio )
Can't we reverse the read and then lookout for 5' adapters that are available ?

[2022-11-01 16:05] uniqueg commented on #89
Hi @rohank63, I'm afraid it's not so easy. First of all, there is no _exhaustive_ list of adapters, because, in principle, nothing stops people from using any adapter they like. In practice though, most people will use kits to prepare libraries, and those libraries tend to always use the same 3' adapters. And those ones are already in our list, most likely.

For 5' the situation is probably simila

[2022-11-08 14:12] BorisYourich opened #96 "Docker image for the htsinfer project"
**Is your feature request related to a problem? Please describe.**
This Issue stems from the fact that __conda__ on macOS(Monterey and possibly higher) with arm64 chip is not able to create htsinfer environment due to the following error:
[code]

**Describe the solution you'd like**
I couldn't find any user-friendly fix or workaround, and since I sometimes develop on a mac I decided to create a do

[2022-11-09 12:00] #94 closed, assigned to nobody

[2022-11-10 12:39] uniqueg opened #98 "Design testing strategy"
**Is your feature request related to a problem? Please describe.**

Before publishing, we need to see how the tool performs against libraries for which the metadata is known. A collection for libraries for which (some of) the metadata is already mined is [here](https://docs.google.com/spreadsheets/d/1r4QolWT3uFnmAVTyGrcNnVEy78-4j446-S44jogxx5I/edit). But as this list will be expanding, we need to

[2022-11-15 20:15] uniqueg commented on #96
@BorisYourich Cool! If the image builds on Linux as well, I'll be happy to replace the existing `Dockerfile`. Can easily be tested via GitHub Actions. Certainly better than having to maintain _two_ `Dockerfile`s / images.

[2022-11-22 15:46] uniqueg opened #100 "Populate reference data matrix"
**Is your feature request related to a problem? Please describe.**

We have recently started collecting reference data for rigorously testing HTSinfer in [this matrx](https://docs.google.com/spreadsheets/d/1r4QolWT3uFnmAVTyGrcNnVEy78-4j446-S44jogxx5I/edit). In order to check the performance/reliability, we would need a lot more data sets and associated metadata, covering
- a range of diverse organ

[2022-11-28 14:07] BorisYourich opened #101 "Change from conda to mamba in CI workflows"
**Describe the bug**
The current CI workflow uses conda to set up the work environment. It is very slow and workflow run times can climb up to almost 30 minutes.

**To Reproduce**
Push or Pull request

**Expected behavior**
```conda-incubator/setup-miniconda@v2``` offers the Experimental ``` mamba-version: "*" ``` option which enables mamba as the default package manager.
It would be reasonable to